<div class="my-3">
    <h5 [ngClass]="{'strike' : !todo.active}">{{ todo.title }}</h5>
    <p [ngClass]="{'strike' : !todo.active}" class = "border ">{{ todo.desc }}</p>
    <div class="form-check my-3">
        <input type="checkbox" class="form-check-input" id="Task {{i + 1}}" (click)="onCheckboxClick(todo)" [checked] = "!todo.active">
        <label class="form-check-label" for="Task {{i + 1}}" >Done!!</label>
      </div>
    <button class="btn btn-danger" (click)="onClick(todo)">Delete</button>
</div>
